{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</section>
<form action="">
    <div class="loadingOverlay" style="display: block;"></div>
    <div id="customFormFieldHolderID">
        <div id="customFormFieldID" style="display: flex;justify-content: space-between;"></div>
    </div>
    <!-- <input class="button button--primary" type="submit"> -->
    <button id="customFormSubID" class="button button--primary" >Submit</button>
</form>

{{/partial}}

{{> layout/base}}