{{#if settings.data_tag_enabled}}
    <article class="listItem"
             data-event-type="{{event}}"
             data-entity-id="{{id}}"
             data-position="{{position}}"
             data-name="{{name}}"
             data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}"
             data-product-brand="{{brand.name}}"
             data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"
    >
{{else}}
    <article class="listItem">
{{/if}}
    <figure class="listItem-figure">
        <a href="{{url}}"
           id="product{{ id }}"
           class="listItem-figure__link"
           aria-label="{{name}},{{> components/products/product-aria-label}}"
           {{#if settings.data_tag_enabled}}
           data-event-type="product-click"
           {{/if}}
        >

        {{> components/common/responsive-img
            image=image
            class="listItem-image"
            fallback_size=theme_settings.productgallery_size
            lazyload=theme_settings.lazyload_mode
            default_image=theme_settings.default_image_product
        }}
        
        </a>
        {{#unless hide_product_quick_view}}
            {{#if theme_settings.show_product_quick_view}}
                <div class="listItem-figureBody">
                    <button type="button" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small listItem-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</button>
                </div>
            {{/if}}
        {{/unless}}
    </figure>

    <div class="listItem-body">
        <div class="listItem-content">
            <div class="listItem-details">
                {{#if show_rating}}
                    <p class="listItem-rating">{{> components/products/ratings rating_target=name rating=rating}}</p>
                {{/if}}
                {{#if brand.name}}
                <p class="listItem-brand">{{brand.name}}</p>
                {{/if}}
                <h4 class="listItem-title">
                    <a href="{{url}}"
                       aria-label="{{name}},{{> components/products/product-aria-label}}"
                       {{#if settings.data_tag_enabled}}data-event-type="product-click"{{/if}}
                    >
                        {{name}}
                    </a>
                </h4>
                {{#if summary}}
                    <p>{{{summary}}}</p>
                {{/if}}
            </div>
            <div class="listItem-actions">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if price}}
                        <div class="listItem-price">{{> components/products/price price=price}}</div>
                    {{/if}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary">{{lang 'products.pre_order'}}</a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--primary">{{lang 'products.add_to_cart'}}</a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        {{/if}}
                    {{/if}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
                {{#if show_compare}}
                    <label class="button button--small" for="compare-{{id}}">
                        {{lang "products.compare"}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
            </div>
        </div>
    </div>
</article>

{{inject "myProductDate" this.date_added}}
{{inject "myProductID" this.id}}
{{inject "mySaleanText" theme_settings.pdp_custom_sale_badge_label}}
{{inject "mySaleBandage" theme_settings.product_custom_sale_badges}}
{{inject "myProductCustomFields" this.custom_fields}}
{{inject "myNewBanText" theme_settings.pdp_custom_new_badge_label}}
{{inject "myNewBandage" theme_settings.product_custom_new_badges}}
{{inject "myCloseuotBandage" theme_settings.product_closeout_badges}}
{{inject "myCloseuotText" theme_settings.pdp_custom_closeout_label}}
{{inject "myFreeShipBandage" theme_settings.product_custom_free_ship_badges }}
{{inject "myFreeShipText" theme_settings.pdp_custom_free_ship_badge_label}}



<script>

function customBandage (jsContext){

    if (jsContext.myCloseuotBandage === "topleft") {       
        if (jsContext.myProductCustomFields){
            jsContext.myProductCustomFields.forEach(el => {
                if (el.name === "__badge" && el.value === "Closeout") {
                    if ( document.getElementById("product"+jsContext.myProductID).lastElementChild.tagName !== "DIV"){
                        document.getElementById("product"+jsContext.myProductID).innerHTML += `<div class="closeout-flag-side" style="top:5px">
                        <span class="closeout-text" data-page-builder-key="pdp_sold_out_label" data-default-translation="Sold Out">
                            `+jsContext.myCloseuotText+ `
                        </span>
                    </div>`
                    }
                }
            });
        }
    }

    if (jsContext.myNewBandage === "topleft") {
        if (jsContext.myProductCustomFields){
            jsContext.myProductCustomFields.forEach(el => {
                if (el.name === "__badge" && el.value === "New") {
                    if ( document.getElementById("product"+jsContext.myProductID).lastElementChild.tagName !== "DIV"){
                        document.getElementById("product"+jsContext.myProductID).innerHTML += `<div class="custom_new-flag-side" style="top:5px">
                            <span class="custom_new-text" data-page-builder-key="pdp_custom_new_label" data-default-translation="New">
                                `+jsContext.myNewBanText+ `
                            </span>
                        </div>`
                    }
                }
            });
        }
    }

    if (jsContext.myFreeShipBandage === "topleft") {        
        if (jsContext.myProductCustomFields){
            jsContext.myProductCustomFields.forEach(el => {
                if (el.name === "__badge" && el.value === "FreeShipping") {
                    if ( document.getElementById("product"+jsContext.myProductID).lastElementChild.tagName !== "DIV"){
                        document.getElementById("product"+jsContext.myProductID).innerHTML += `<div class="free_shipping-flag-side" style="top:5px">
                        <span class="free_shipping-text" data-page-builder-key="pdp_free_shipping_label" data-default-translation="Free Shipping">
                            `+jsContext.myFreeShipText+ `
                        </span>
                    </div>`
                    }
                }
            });
        }
    }

    if (jsContext.myNewBandage === "Sale") {
        if (jsContext.myProductCustomFields){
            jsContext.myProductCustomFields.forEach(el => {
                if (el.name === "__badge" && el.value === "Sale") {
                    if ( document.getElementById("product"+jsContext.myProductID).lastElementChild.tagName !== "DIV"){
                        document.getElementById("product"+jsContext.myProductID).innerHTML += `<div class="custom_sale-flag-side" style="top:5px">
                            <span class="custom_sale-text" data-page-builder-key="pdp_custom_new_label" data-default-translation="New">
                                `+jsContext.mySaleanText+ `
                            </span>
                        </div>`
                    }
                }
            });
        }
    }
}
customBandage(JSON.parse({{jsContext}}));

</script>
