<div class="customFormHolder">
    <div id="variantsForm"></div>
    <div id="customFormOverlay" class="loadingOverlay" style="display: block;"></div>
    <button id="variantsFormSubmit" class="button button--primary">Submit</button>
</div>


<style>
    .customFormHolder{
        position: relative;
    }
    .variants_form_row{
        display: flex;
        width: 100%;
    }

    .variants_form_cell{
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        border: 1px solid #e5e5e5;
        width: 100%;
    }

    .variants_form_cell>img{
        max-width: 80px;
        max-height: 80px;
    }

    .variants_form_cell:last-child{       
        align-items: center;
    }

    .variants_form_cell>p{
        margin: 0 0 2px 0;
    }

    #variantsForm{
        margin-bottom: 30px;
        min-height: 50px;
        position: relative;
    }
    
    @media screen and (max-width: 600px) {
        .variants_form_row{
            flex-direction: column;
        }

        .variants_form_cell{
            align-items: center;
        }

        .productView-details{
            width: 100% !important;
        }
    }

</style>